@tailwind base;
@tailwind components;
@tailwind utilities;
/* Hide scrollbar for horizontal navigation */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}